@media screen and (max-width: 640px) {

    /* Header section */
    /* Navbar */
    .collapse-menu {
        display: block;
    }

    .menu-items,
    .menu-btn {
        display: none;
    }

    /* Banner Section */
    .banner-section {
        flex-direction: column;
    }

    /* Banner right */
    .banner-right {
        width: 100%;
        margin-top: 50px;
    }

    /* Body Section */


    /* Power of  Blockchain */

    /* Blockchain power container */
    .bc-power-container {
        grid-template-columns: repeat(1, 1fr);
    }


    /* Our client section */
    .client-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .specific-client img {
        width: 70px;
        height: 70px;
    }

    .specific-client span {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    /* Helping Blockchain section */
    .helping-bc-container {
        flex-direction: column;
    }

    /* helping section img left */
    .helping-bc-left {
        width: 70%;
        margin: 0 auto;
    }

    .helping-bc-left img {
        margin-bottom: 30px;
    }

    /* helping section content r */

    .helping-details {
        margin: 10px 0;
    }

    .helping-details i {
        font-size: 30px;
    }

    .helping-details h2 {
        font-size: 22px;
    }

    /* Foundation Of blockchain */
    /* foundation of bc area */
    .bc-foundation-area {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Contact form section */
    .contact-section {
        flex-direction: column-reverse;
    }

    /* contact form */
    .contact-form {
        margin: 0;
        padding: 10px 20px;

    }

    /* contact-details */
    .contact-img {
        width: 60%;
    }

    /* footer section */
    .footer-content {
        grid-template-columns: repeat(1, 1fr);
    }

}