@media screen and (min-width : 641px) and (max-width: 990px) {

    /* Body */
    /* Banner Section */
    .banner-section {
        flex-direction: column;
    }

    /* Banner right */
    .banner-right {
        width: 100%;
        margin-top: 50px;
    }

    /* Our client section */
    .specific-client img {
        width: 80px;
        height: 80px;
    }

    .client-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .specific-client span {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    /* Helping Blockchain section */
    .helping-bc-container {
        flex-direction: column;
    }

    /* helping section img left */
    .helping-bc-left {
        width: 70%;
        margin: 0 auto;
    }

    .helping-bc-left img {
        margin-bottom: 30px;
    }

    /* helping section content r */
    .helping-bc-right {
        grid-template-columns: repeat(3, 1fr);
    }

    .helping-details {
        margin: 10px 0;
    }

    .helping-details i {
        font-size: 35px;
    }

    .helping-details h2 {
        font-size: 24px;
    }

    /* Contact form section */
    .contact-section {
        flex-direction: column-reverse;
    }

    /* contact form */
    .contact-form {
        margin: 0;
        padding: 10px 20px;

    }

    /* contact-details */
    .contact-img {
        width: 60%;
    }

    /* footer section */
    .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }
}